# Visual Studio
.vs/
*.user
*.suo
.vscode/
*.vsidx
*.vscode

# Binarios y objetos
bin/
obj/
Debug/
Release/
*.dll
*.exe

# Configuración local
appsettings.Development.json

# Dependencias
packages/
.nuget/

# Archivos de compilación
*.log
*.cache
*.pdb

# Publicaciones
publish/

# Sistema
.DS_Store
Thumbs.db